<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard - Kegiatan Sosial</title>
  <link rel="stylesheet" href="../../css/dashboard.css">
</head>
<body>

  <div class="container">

    <!-- Sidebar -->
    <aside class="sidebar">
      <h2 class="logo">iSosial</h2>
      <ul class="menu">
        <li class="active"><a href="dashboard.html">Dashboard</a></li>
        <li><a href="manajemen.html">Manajemen Kegiatan</a></li>
        <li><a href="pendaftaran.html">Pendaftaran Relawan</a></li>
        <li><a href="riwayat.html">Riwayat Kegiatan</a></li>
        <li><a href="../page user/login.html">Logout</a></li>
      </ul>
    </aside>

    <!-- Main Content -->
 <main class="main-content">
      
      <!-- Topbar -->
      <div class="topbar">
        <h1>Dashboard</h1>
        <div class="user-info">
          <span>Admin</span>
          <img src="avatar.png" alt="Avatar" class="avatar">
        </div>
      </div>

      <!-- Cards -->
      <div class="cards">
        <div class="card">
          <h3>Total Kegiatan</h3>
          <p>9</p>
        </div>

        <div class="card">
          <h3>Total Relawan Dibutuhkan</h3>
          <p>57</p>
        </div>

        <div class="card">
          <h3>Riwayat Siswa</h3>
          <p>164</p>
        </div>
      </div>

      <!-- Table -->
      <div class="table-section">
        <h2>Daftar Kegiatan Terbaru</h2>
        <table>
          <thead>
            <tr>
              <th>Nama Kegiatan</th>
              <th>Tanggal</th>
              <th>Lokasi</th>
              <th>Relawan Dibutuhkan</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Edukasi Hemat Air & Sanitasi Rumah</td>
              <td>28 Maret 2026</td>
              <td>Kota Pontianak</td>
              <td class ="text-center">6</td>
              <td><span class="status aktif">Aktif</span></td>
            </tr>
            <tr>
              <td>Pembagian Sembako untuk Warga</td>
              <td>12 April 2026</td>
              <td>Kota Pontianak</td>
              <td class ="text-center">7</td>
              <td><span class="status aktif">Aktif</span></td>
            </tr>
            <tr>
              <td>Senam Sehat Bersama Warga</td>
              <td>4 April 2026</td>
              <td>Kota Pontianak</td>
              <td class ="text-center">5</td>
              <td><span class="status aktif">Aktif</span></td>
            </tr>
            <tr>
              <td>Edukasi Pemilahan Sampah Rumah Tangga</td>
              <td>20 Maret 2026</td>
              <td>Kota Pontianak</td>
              <td class ="text-center">5</td>
              <td><span class="status aktif">Aktif</span></td>
            </tr>
            <tr>
              <td>Relawan Tim Media Sekolah Peduli Lingkungan</td>
              <td>5 April 2026</td>
              <td>Kota Pontianak</td>
              <td class ="text-center">8</td>
              <td><span class="status aktif">Aktif</span></td>
            </tr>
            <tr>
              <td>Sosialisasi Hidup Bersih ke Desa</td>
              <td>2 Mei 2026</td>
              <td>Kabupaten Kubu Raya</td>
              <td class ="text-center">6</td>
              <td><span class="status aktif">Aktif  </span></td>
            </tr>
            <tr>
              <td>Edukasi Bahayanya Sampah Plastik</td>
              <td>5 Juni 2026</td>
              <td>Kabupaten Mempawah</td>
              <td class ="text-center">5</td>
              <td><span class="status aktif">Aktif  </span></td>
            </tr>
            <tr>
              <td>Kerja Bakti Jalan Kampung</td>
              <td>27 Mei 2026</td>
              <td>Kabupaten Kubu Raya</td>
              <td class ="text-center">10</td>
              <td><span class="status aktif">Aktif  </span></td>
            </tr>
            <tr>
              <td>Penanaman Pohon & Penghijauan Kampung</td>
              <td>20 Juni 2026</td>
              <td>Kabupaten Kubu Raya</td>
              <td class ="text-center">53</td>
              <td><span class="status aktif">Aktif  </span></td>
            </tr>
          </tbody>
        </table>
      </div>

    </main>

  </div>

</body>
</html>